# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider/JetBrains
.idea/
*.sln.iml

# Configuração local
appsettings.*.json
!appsettings.json

# Arquivos temporários
*.cache
*.pdb
*.log
*.temp

# Pacotes
*.nupkg
*.snupkg

# Logs
*.log

# Outros arquivos gerados
*.dbmdl
*.jfm

# Sistema operacional
.DS_Store
Thumbs.db
